body {
    color: white; 
      font-size: 24px; 
      font-family: ink free; 
      background-color: black; 
      text-align: center; 
      
    }
    img  { width: 47%;
      border-style: dotted; 
    }
    